{% extends "base.html" %}

{% block title %}
  Профиль
{% endblock %}

{% block body %}
  {% load static %}
  <div class="container bootstrap snippets bootdey">
    <div class="profile card">
      <div class="profile-body">
        <div class="profile-bio">
          <div class="row">
            <div class="col-md-5 text-center">
              {% if profile.image %}
                <img style="width: 400px; height:400px;" class="img-thumbnail md-margin-bottom-10"
                     src="{{ profile.image.url }}" alt="">
              {% else %}
                <img style="width: 400px; height:400px;" class="img-thumbnail md-margin-bottom-10"
                     src="{% static 'img/no_image.png' %}" alt="">
              {% endif %}
              <a class="btn btn-outline-primary"
                 style="margin-top: 18px; margin-bottom: 15px; margin-right: 15px; width: 150px;"
                 href="{% url 'user:update_image' %}">Изменить фото</a>
              <a class="btn btn-outline-primary" style="margin-top: 18px; margin-bottom: 15px; width: 150px;"
                 href="{% url 'services:services' %}">К услугам</a>
            </div>
            <div class="col-md-7">
              <h2>{{ profile.user }}</h2>
              <span><strong>Почта:</strong> {{ profile.user.email }}</span>
              <span><strong>Роль:</strong> {% if user.is_superuser %}Админ{% else %}Пользователь{% endif %}</span>
              <hr>
              <ul>
                {% for booking in bookings_future %}
                  <li style="background-color: #c2ff66; border-radius: 0 10px; padding: 10px; margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center;">
                    <div>
                      <span style="font-size: 110%;"><strong>{{ booking.service.title }}</strong></span><br>
                      на {{ booking.datetime }}
                    </div>
                    <button class="btn btn-outline-primary" onclick="delete_booking({{ booking.id }})">Удалить</button>
                  </li>
                {% endfor %}

                {% for booking in bookings_past %}
                  <li style="background-color: #b9bdb3; border-radius: 0 10px; padding: 10px; margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center;">
                    <div>
                      <span style="font-size: 110%;"><strong>{{ booking.service.title }}</strong></span><br>
                      на {{ booking.datetime }}
                    </div>
                    <button class="btn btn-outline-primary" onclick="delete_booking({{ booking.id }})">Удалить</button>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function delete_booking(id) {
  var csrftoken = getCookie('csrftoken');
  $.ajax({
          url: 'delete_booking/',
          type: 'POST',
          headers: {
              'X-CSRFToken': csrftoken
          },
          data: {
              id: Number(id),
          },
          success: function () {
            location.reload()
          },
      })
}
</script>
{% endblock %}